* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #dfe9ff, #cfdfff);
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1rem;
    font-weight: 200;
}

/* FONTS */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.marker {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

/* MAIN / UTILITIES */

#app {
    margin: 1rem;
}

.container {
    margin: .5rem 0 1rem;
}

/* BADGES */

.badge:hover {
    transform: scale(1.1);
}

/* BANNERS */

.banner {
    display: flex;
    gap: 1rem;
}