* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #dfe9ff, #cfdfff);
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1rem;
    font-weight: 200;
}

/* FONTS */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.marker {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

/* MAIN / UTILITIES */

#app {
    margin: 1rem;
}

.container {
    margin: .5rem 0 1rem;
}

.buttons {
    text-align: center;
}

.option {
    width: 5rem;
    height: 1.5rem;
    margin-right: .5rem;
    border: none;
    border-radius: .5rem;
    color: #1E40AF;
    background: #EFF6FF;
    font-weight: bold;
}

.option:hover {
    cursor: pointer;
    color: #EFF6FF;
    background: #405cb6;
}

/* BADGES */

.badge:hover {
    transform: scale(1.1);
}

/* BANNERS */

.banner {
    display: flex;
    gap: 1rem;
}

.banner-columns {
    display: none;
}

/* CARDS */

.card {
    color: #6B7280;
    padding: 1.25rem 1.5rem 2rem;
    font-weight: 400;
    max-width: 384px;
    background: #F9FAFB;
    border-radius: .5rem;
    text-align: center;
    margin: 1rem auto 2rem;
    position: relative;
}

.card:hover {
    box-shadow: 0px 4px 25px 0px #0000001A;
    cursor: pointer;
}

.card h3 {
    color: #111827;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 1.25rem;
    margin-top: 1.5rem;
}

.card img {
    width: 3rem;
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    margin: auto;
}

/* MEDIA QUERIES */

@media screen and (min-width: 501px) {
    .banners {
        display: flex;
        gap: 1rem;
    }

    .banner-container {
        width: 50%;
    }

    .banner-columns {
        display: flex;
        gap: 1rem;
    }
}